body{
	font-family: 'Source Sans Pro' !important;
	background-color:white;
}

header{
	background-color: white;
	position:fixed;
	width:100%;
	padding-top:1%;
	padding-left:10% !important;
	padding-bottom: 12px;
	z-index:1;
	img{
		width: 180px;
	}
	@media (max-width:1200px){
		padding-left:3% !important;
	}
}

.eyecatcher{
	@include cover;
	background-image:url(assets/images/fondonegro.jpg);
	position: relative;
    height: 970px;
    text-align: center;
    @media (max-width:992px){
    	height: 1270px;
    }
    @media (max-width:480px){
    	height: 1760px;
    }
	img{
	}
	h1{
		margin-top: 0;
    	padding: 13% 10% 2%;
    	color: white;
    	font-family: 'Source Sans Pro';
    	text-transform: uppercase;
    	font-size: 47px;
    	font-weight: 100;
    	animation-delay: .2s;

	    strong{
	    	font-weight: 700;
	    }
	    @media (max-width:1400px){
	    	padding: 220px 10% 2%;
	    }
	    @media (max-width:992px){
			font-size: 38px;
	    }
	    @media (max-width:480px){
    		padding: 161px 10% 2%;
    		font-size: 30px;	    
    	}
	}
	h2{
		font-size: 24px;
		color: white;
		text-align: center;
		font-family: 'Source Sans Pro';
		font-weight: 100;
		margin:0 10%;
		padding: 2% 0 3%;
		animation-delay: .4s;

		strong{
	    	font-weight: 600;
	    }
	    br{
	    	@media (max-width:1370px){
	    		display: none;
	    	}
	    }
	    @media (max-width:992px){
	    	font-size: 21px;
	    	padding:2% 0 8%;
	    }
	    @media (max-width:480px){
	    	font-size: 18px;
	    }

	}
	article{
	@include flexFlow;
	animation-delay: .4s;
	height: 230px;
	padding:0 10%;
	@media (max-width:1160px){
		padding:0 3%;
	}
	@media (max-width:1160px){
		height: initial;
		}
		div{
			width: 22.6%;
			text-align: center;
			@media (max-width:992px){
				width: 47%;
			}
			@media (max-width:480px){
				width: 100%;
			}

			h3{
				color:$red;
				font-size: 20px;
    			letter-spacing: .6px;
    			font-weight: 600;
    			text-align: center;
			}
			img{
				text-align: center;
			}
		}
		div:nth-child(1){
			@media (max-width:992px){
				text-align: right;
			}
			@media (max-width:480px){
				text-align: center;
			}
			h3{
				@media (max-width:992px){
				text-align: right;
    			padding-right: 60px;

				}
				@media (max-width:480px){
				text-align: center;
    			padding-right: initial;
				}
			}
		}
		div:nth-child(3){
			@media (max-width:992px){
				text-align: left;
			@media (max-width:480px){
				text-align: center;
			}
				h3{
				@media (max-width:992px){
				text-align: left;
	    		padding-left: 40px;
				}
				@media (max-width:480px){
				text-align: center;
    			padding-left: initial;
				}
			}

			}
		}
		div:nth-child(5){
			@media (max-width:992px){
				text-align: right;
				}
			@media (max-width:480px){
				text-align: center;
			}
			h3{
				@media (max-width:992px){
				text-align: right;
	    		padding-right: 70px;
				}
				@media (max-width:480px){
				text-align: center;
    			padding-right: initial;
				}
			}
		}
		div:nth-child(7){
			@media (max-width:992px){
				text-align: left;
			}
			@media (max-width:480px){
				text-align: center;
			}
			h3{
				@media (max-width:992px){
				text-align: left;
	    		padding-left: 20px;
				}
				@media (max-width:480px){
				text-align: center;
    			padding-left: initial;
				}
			}
		}
		div.arrow{
			width: 3%;
			padding-top:6%;
			@media (max-width:480px){
				display: none;
			}
			img{
				@media (max-width:1160px){
					display: none;
				}
			}
		}

	}
	a{
		text-align: center;
		transition: all .4s linear;
		&:hover{
			opacity: 0.5;
		}
		img{
			width: 50px;
		}
	}


}

h1,h2,h3,h4,p,a{
	font-family: 'Source Sans Pro';
}

.carousel-indicators {
    bottom: -80px !important;
    left:7% !important;
    @media (max-width:480px){
    	bottom: -60px !important;
    	left: 11% !important;
    }
 }

.no-padding-left{
	padding-left:0;
	padding-right:5px;
	@media (max-width:768px){
		padding-right:0;
	}
}
.no-padding{
	padding:0 ;
}

 h4{
	font-weight:300;
	margin:0 0 -15px;
	font-size:24px;
	@media (max-width:992px){
			font-size: 22px;
			line-height: 26px;
		}
 }

 p{
	font-weight: 300;
    margin: 0;
    font-size: 16.5px;
    line-height: 30px;
    @media (max-width:992px){
			font-size: 15.5px;
			line-height: 26px;
		}
 }

 h3{
	text-align: left;
    font-size: 62px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    @media (max-width:992px){
			font-size: 56px;
		}
	@media (max-width:480px){
			margin-bottom: 20px;
			font-size: 42px;
    		line-height: 73px;
		}
 }


 button.contacto{
 		margin-top: 40px;
 		background: transparent;
    	border: 1px solid white;
    	color: white;
    	padding: 13px 24px;
    	transition: all .2s linear;
    	text-transform: uppercase !important;
	    font-weight: 600 !important;
	    letter-spacing: 1.5px;
	    font-size: 15px;
	    border-radius:4px;
    	&:hover{
    		background-color:white;
    		color:$red !important;
    	}
    	@media (max-width:480px){
    		margin-top: 20px;
    	}
 	}

form{
	p{
	text-align:center;
		button.enviar{
		margin-top: 40px !important;
		background: $red;
		border: 2px solid $red;
		color: white !important;
		padding: 9px 50px;
		transition: all .2s linear;
		text-transform: uppercase !important;
	    font-weight: 600 !important;
	    letter-spacing: 1.5px;
	    font-size: 15px;
	    border-radius:4px;
		&:hover{
			background-color:transparent;
			color:$red !important;
	    	}
	}	
  }
  textarea{
  	padding-top:20px;
  }
}
 

.agencia{
	h4{
	color:white;
	}
	p{
	color: white;
	}
	h3{
	color: black;
	}
	a{   
		border: 1px solid white;
	    color: white;
		&:hover{
		background-color:white;
		color:$red;
		}
	}
	@include flexFlow;
	article:nth-child(1) {
		width: 50%;
		height: 800px;
		overflow: hidden;
		@media (max-width:992px){
			height: 450px;
			width: 100%;
			img{
			transform: translatey(-14%);
			width: 100%;
				@media (max-width:650px){
				transform: translatey(-4%);
				}
				@media (max-width:570px){
				transform: translatey(0%);
				width: 580px;
				}
			}
		}
	}
	article:nth-child(2) {
		position:relative;
		width: 50%;
		background-color:$red;
		height: 800px;
		padding:160px 10% 140px 130px;
		@media (max-width:1500px){
			padding: 120px 6% 10px 80px;
		}
		@media (max-width:992px){
			padding: 70px 6% 10px 60px;
			height: 600px;
			width: 100%;
		}
		@media (max-width:480px){
			padding: 50px 8% 90px 7%;
    		height: inherit;
		}
		
	}
}

.productora{
	position:relative;
	.carousel-indicators li{
		opacity: .7;
	}
	.carousel-indicators .active{
		border:2px solid $red;
		opacity: 1;

	}

	h4{
		color:$red;
	}
	h3{
		color:white;
	}
	p{
		color:white;
		strong{
			font-weight: 600;
		}
	}

	@include flexFlow;
	article:nth-child(1) {
		@include order(1);
		width: 50%;
		height: 800px;
		background-color:black;
		padding:160px 130px 140px 10%;
		position:relative;
		@media (max-width:1500px){
			padding: 120px 80px 10px 6%;
		}
		@media (max-width:992px){
			padding: 70px 60px 10px 6%;
			height: 550px;
			width: 100%;
			@include order(2);
		}
		@media (max-width:480px){
			padding: 50px 8% 90px 7%;
    		height: inherit;
		}
	}
	article:nth-child(2) {
		@include order(2);
		width: 50%;
		height: 800px;
		overflow: hidden;
		@media (max-width:992px){
			height: 450px;
			width: 100%;
			img{
			transform: translatex(0%);
			width: 100%;
			@media (max-width:570px){
				width: 580px;
				}
			}
		}
		@media (max-width:992px){
		@include order(1);
		height: 450px;
		width: 100%;
		}

	}
}

.medios{
	position:relative;
	h4{
		color:$red;
		font-weight: 400;
	}
	button{
		border:solid 2px black;
		color:black !important;
		&:hover{
			color:white !important;
			background-color:black;
		}
	}
	.carousel-indicators li{
		border:2px solid black;
		opacity: .1;
	}
	.carousel-indicators .active{
		border:2px solid $red;
		opacity: 1;

	}
	
	@include flexFlow;
	article:nth-child(1) {
		width: 50%;
		height: 800px;
		overflow: hidden;
		@media (max-width:992px){
			height: 450px;
			width: 100%;
			img{
			transform: translatey(-10%);
			width: 100%;
			@media (max-width:570px){
				transform: translatey(0%);
				width: 580px;
				}
			}
		}

	}
	article:nth-child(2) {
		width: 50%;
		height: 800px;
		padding:160px 10% 140px 130px;
		position:relative;
		@media (max-width:1500px){
			padding: 120px 6% 10px 80px;
		}
		@media (max-width:992px){
			padding: 70px 6% 10px 60px;
			height: 550px;
			width: 100%;
		}
		@media (max-width:480px){
			padding: 50px 8% 90px 7%;
    		height: inherit;
		}

	}
}

.influencer{
	position:relative;

	h3{
		color:white;
	}
	h4{
		color:black;
		font-weight: 400;
	}
	p{
		color:white;
	}
	@include flexFlow;
	article:nth-child(1) {
		width: 50%;
		height: 800px;
		background-color:$red;
		padding:160px 130px 140px 10%;
		position:relative;
		@media (max-width:1500px){
			padding: 120px 80px 10px 6%;
		}
		@media (max-width:992px){
			padding: 70px 60px 10px 6%;
			height: 550px;
			width: 100%;
			@include order(2);
		}
		@media (max-width:480px){
			padding: 50px 8% 90px 7%;
    		height: inherit;
		}
	}
	article:nth-child(2) {
		width: 50%;
		height: 800px;
		overflow: hidden;
		@media (max-width:992px){
			height: 450px;
			width: 100%;
			@include order(1);
			img{
			transform: translatex(0%);
			width: 100%;
				@media (max-width:570px){
				width: 580px;
				}
			}
		}
	
	}
}

.clientes{
	@include flexFlow;
	padding: 5% 0 5%;
	@media (max-width:992px){
		padding: 10% 0 5%;
	}
	h3{
		color:black;
		text-align: center;
		width: 100%;    	
		font-weight: 700;
		font-size: 48px;
	}
	p{
		text-align:center;
		width: 100%;
		padding:0 20%;
		font-size: 17px;
		@media (max-width:1200px){
			margin-bottom: 29px;
		}
		@media (max-width:992px){
			padding:0 3%;
		}
	}
	article.marcas{
		width:100%;
		padding:0 10%;
		margin:2% auto;
		@include flexFlow;
		div{
			width: 16.6%;
			text-align: center;
			@media(max-width:1200px){
				img{
					width: 100px;
				}
			}
			@media (max-width:992px){
				width: 32.6%;
				margin:2% auto;
				img{
					width: initial;
				}
			}
			@media (max-width:480px){
				width: 48%;
				img{
					width: 100px;
				}
			}

		}
		@media (max-width:1200px){
			padding:0 3%;
			margin:0% auto;


		}

	}
}


.modal-body{
    padding: 4% 14% 12%;
	h4{
		color:$red;
		font-size: 20px;
		font-weight: 400;
	}
	h3{
		font-size: 53px;
    	font-weight: 700;
	}
}

.modal-content{
	border-radius:0;
}


footer{
	a{
		color:white;
		transition: all .4s linear;
		&:hover{
			color:$red;
			text-decoration: none;
		}
	}
	padding:0;
	section:nth-child(1){
		background-color:black;
		text-align: center;
		padding-top:3%;
		@media (max-width:480px){
			padding-top: 8%;
		}
		img{
			width: 140px;
			@media (max-width:750px){
				width: initial;
			}
		}
		
	}
	section:nth-child(2){
	@include flexFlow;
	padding:0 10% 9.5%;
	width:100%;
	background-color:black;
	height:150px;
	@media (max-width:992px){
		height: initial;
		padding:0 10% 2.5%;
	}
	@media (max-width:480px){
		padding:0 3% 2.5%;
	}
		div:nth-child(1){
			@include order(1);
			width: 32%;
			padding-top:50px;
			img{
				float: left;
				@media (max-width:480px){
					float: initial;
				}
			}	
			p{
			color:white;
				line-height: 18px;
    			font-size: 14px;
    			margin-top: 10px;
    			margin-left: 10px;
				span{
					font-weight: 600;
    				opacity: .6;
				}
				@media (max-width:480px){
					margin-top: 0;
					margin-bottom: 20px;
					font-size: 17px;
    				line-height: 24px;
				}
			}
			@media (max-width:992px){
				width: 50%;
				@include order(2);
			}
			@media (max-width:480px){
				width: 80%;
				margin: auto;
				padding-top:20px;
				@include order(2);
				text-align: center;
			}
		}
		div:nth-child(2){
		@include order(2);
		width: 35%;
		padding-top:60px;	
			@media (max-width:992px){
				@include order(1);
				width: 100%;
				padding-top: 40px;
			}
			p{
			text-align: center;

			}
		}
		div:nth-child(3){
		@include order(3);
		width: 33%;
		padding-top: 50px;
    	padding-left: 7%;
			i{
				float: left;
				color: white;
				opacity: .6;
				padding-right:10px;
				padding-bottom:40px;
				@media (max-width:480px){
					float: initial;
				}
			}
			p{
				color:#ccc;
				font-size: 14px;
				line-height: 18px;
				@media (max-width:480px){
					margin-top: 0;
					margin-bottom: 20px;
					font-size: 17px;
    				line-height: 24px;
				}
				strong{
					color:white;
				}
			}
			@media (max-width:992px){
				@include order(3);
				width: 50%;
			}
			@media (max-width:992px){
				  padding-left: 0%;

			}
			@media (max-width:480px){
				  width: 90%;
				  text-align: center;
				  margin:auto;
				  margin-bottom: 30px;
				  padding-top:0px;
			}
		}

	}
	section:nth-child(3){
		background-color:#333;
		height: 50px;
		padding-top: 10px;

		p{
			text-align: center;
			color:#ccc;
			font-size: 12px;
    		letter-spacing: .6px;
    		font-weight: 300;
		}
	}
}

//menu//

.clearMargin{
   transition: background-color .2s;
   background-color:transparent;
   }


.addMargin{
	background-color:black;
}

.follow{
	span{
		font-size: 14px;
		@media (max-width:480px){
			float: left;
    		width: 100%;
		}
	}

	a{
		display:inline-block !important;
		text-decoration: none;
	}
}
